.h4 {
  text-align: center;
  font-size: 46px;
  margin: 0;
  color: #5a3e36;
}
.i8 {
  width: 80%;
  border-radius: 41px;
  border: 4px solid;
  box-shadow: 1px 1px 19px #242424;
}
.i7 {
  width: 88%;
  border-radius: 41px;
  border: 4px solid;
  box-shadow: 1px 1px 19px #242424;
}
br {
  display: none;
}
.d11 {
  margin-top: 5%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.d11 div {
  text-align: center;
}
.h2 {
  color: #5a3e36;
  font-size: 3rem;
  margin: 0;
  height: 15vh;
  align-content: center;
}
.d12 {
  margin-top: 5%;
  display: flex;
  text-align: center;
}
.i9 {
  width: 70%;
  border-radius: 41px;
  border: 4px solid;
  box-shadow: 1px 1px 19px #242424;
}
.h3 {
  font-size: 4rem;
  margin: 0;
  color: #5a3e36;
}
.hr2 {
  height: 8px;
  background-color: black;
  width: 73%;
  border-radius: 26px;
}
#h2 {
  height: 8vh;
}
@media (max-width: 1000px) {
  .h4 {
    font-size: 6rem;
    margin-bottom: 74px;
  }

  .d11,
  .d12 {
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 30px;
  }

  .d11 div,
  .d12 div {
    flex: none;
  }

  .h2 {
    font-size: 6rem;
    min-height: 45px;
    margin-bottom: 0;
    height: 133px;
  }
  .h3 {
    font-size: 6rem;
    min-height: 50px;
  }
  #h2 {
    min-height: 40px;
  }
}
#moduleWindow {
  width: 40%;
  z-index: 100;
  text-align: center;
  background: #f2f2f2;
  position: fixed;
  border-radius: 10px;
  left: 50%;
  padding: 10px;
  box-shadow: 0px 0px 10px black;
  top: 3%;
  display: none;
  animation-name: animationFacebook;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  transform: translate(-50%, 35%);
  animation-timing-function: ease-out;
}
.America {
  align-content: flex-start;
  text-align: center;
}
.America hr {
  width: 50%;
  background-color: black;
}
.buket {
  color: black;
  margin: -0;
}

.i7,
.i8,
.i9 {
  border-width: 3px;
  width: 80%;
}
#br {
  display: none;
}
.hr2 {
  height: 12px;
  width: 73%;
  border-radius: 26px;
  margin-bottom: 20px;
}

.fufu {
  font-weight: 650;
  border: 0;
  background-color: transparent;
  text-shadow: -5px 5px 5px #5a3e36;
  color: #2f2f2f;
}

.DecorateButton ul {
  background-color: #fff7ad;
}
.DecorateButton ul li a:hover {
  background-color: #e8db60 !important;
}
.Hr3 {
  margin: 1rem auto;
}
