.h1 {
  font-size: 50%;
  color: #5a3e36;
  text-align: center;
}
.i8 {
  width: 80%;
}
.i7 {
  width: 88%;
}
.d11 {
  margin-top: 5%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.d11 div {
  text-align: center;
}
.h2 {
  font-size: 3rem;
  margin: 0;
}
.d12 {
  margin-top: 5%;
  display: flex;
  text-align: center;
}
.i9 {
  width: 70%;
}
.h3 {
  font-size: 4rem;
  margin: 0;
}
.hr2 {
  height: 8px;
  background-color: black;
  width: 73%;
  border-radius: 26px;
}
