.d10 {
  width: 100%;
}
br{
  display: none;
}
.d11 {
  text-align: center;
  display: flex;
  width: 86%;
  justify-content: space-around;
  align-items: center;
}
.d12 {
  color: #000000;
  background-color: #8d8d8d;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.d13 {
  width: 73%;
}
.d13 p {
  color: #434343;
  font-size: 2rem;
  width: 100%;
  text-align: justify;
  font-weight: 700;
}
.h1 {
  font-size: 50%;
  text-align: center;
   color: #4f4f4f;
    text-shadow: -7px 3px 7px #000000;

}
@media(max-width:1000px){
  .d10 {
  width: 100%;
}
  br{
  display: block;
}
.d11 {
  text-align: center;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: block;
}
.d12 {
  color: #a9a9a9;
  background-color: #4a4a4a;
  border-radius: 50%;
    width: 200px;
    height: 200px;
  margin: 0 auto;

}
.d13 {
  width: 100%;
}
.d13 p {
  color: #383838;
  font-size: 2rem;
  width: 100%;
  text-align:center;
  font-weight: 700;
}
.h1 {
  font-size: 50%;
  color: #363636;
  text-align: center;
}
}
