@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");

.igm {
    width: 150px;
}
.background_Main {
    background-image: url("image/1.png");
    background-size: cover;
    background-position: center;
}

.text {
    text-align: center;
}
.pancace {
    display: flex;
    justify-content: space-around;
}
.pancace div {
    width: 28%;
    text-align: center;
}
.pancace div ul {
    list-style-type: none;
    padding: 0;
    height: 20vh;
    font-family: "Caveat", cursive;
    font-size: 1.4rem;
    font-weight: 1000;
}

.pancace div h3 {
    font-family: "Pattaya", sans-serif;
    font-size: 2rem;
}

.pancace div img {
    box-shadow: 0 0 10px black;
}
.il {
    background-color: lightpink;
    border-radius: 10px;
    font-size: large;
}
.ugc {
    padding-bottom: 40px;
    padding: 10%;
}
@media (max-width: 1000px) {
    .pancace {
        display: block;
        width: 100%;
    }
    .pancace div {
        width: 100%;
        height: max-content;
    }
    .pancace div ul {
        font-size: 5rem;
        height: max-content;
    }
    .pancace div img {
        width: 50%;
    }
    .pancace div h3 {
        height: max-content;
        font-size: 4rem;
        align-content: center;
    }
    .il {
        font-size: 5rem;
        font-weight: 900;
    }
    .ugc {
        padding: 10%;
    }
    #moduleWindow {
        font-size: 2.5rem;
    }
    #moduleWindow img {
        width: 35%;
    }
}

#moduleWindow {
    width: 40%;
    text-align: center;
    background: #f2f2f2;
    position: fixed;
    transform: translateX(-50%);
    border-radius: 10px;
    left: 50%;
    padding: 10px;
    box-shadow: 0px 0px 10px black;
    top: 3%;
    display: none;
    animation-name: animationFacebook;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    transform: translate(-50%, 35%);
    animation-timing-function: ease-out;
}
.America {
    align-content: flex-start;
    text-align: center;
}
.America hr {
    width: 50%;
    background-color: black;
}
.buket {
    color: black;
    margin: -0;
}

.atlantian {
    color: white;
    background-color: #1877f2;
    border-radius: 15px;
    text-decoration: none;
    padding: 1%;
    padding-left: 15%;
    padding-right: 15%;
}

@keyframes animationFacebook {
    from {
        transform: translate(-50%, -100%);
    }

    to {
        transform: translate(-50%, 35%);
    }
}
.fufu {
    font-weight: 650;
    border: 0;
    background-color: transparent;
    text-shadow: -5px 5px 5px #5a3e36;
    color: #2f2f2f;
}

.DecorateButton ul {
    background-color: #fff7ad;
}
.DecorateButton ul li a:hover {
    background-color: #e8db60 !important;
}
