.hjk {
    width: 60%;
}
.bht {
    width: 23%;
    font-size: 2rem;
    text-align: center;
    color: #c8c8c8;
    text-shadow: -7px 3px 7px #6f6f6f;
}

.img {
    background-color: #5f5f5f;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
.non {
    list-style: none;
    color: #c8c8c8;
}
.non li {
    display: flex;
    align-items: center;
}
.img svg {
    width: 50px;
    height: 50px;
}
.non p {
    font-size: 2rem;
    margin-left: 12px;
}
.bht h2 {
    font-weight: 100;
}
.non li svg {
    fill: #c8c8c8;
}
@media (max-width: 1000px) {
    .bht {
        font-size: 2.5rem;
    }
    .non p {
        font-size: 3rem;
    }

    .img {
        font-size: 5rem;
    }
}

#moduleWindow {
    width: 40%;
    z-index: 100;
    text-align: center;
    background: #f2f2f2;
    position: fixed;
    transform: translateX(-50%);
    border-radius: 25px;
    left: 50%;
    padding: 25px;
    box-shadow: 0px 0px 10px black;
    top: 3%;
    display: none;
    animation-name: animationFacebook;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    transform: translate(-50%, 35%);
    animation-timing-function: ease-out;
}
.America {
    align-content: flex-start;
    text-align: center;
}
.America hr {
    width: 50%;
    background-color: black;
}
.buket {
    color: black;
    margin: -0;
}

.atlantian {
    color: white;
    background-color: #1877f2;
    border-radius: 15px;
    text-decoration: none;
    padding: 1%;
    padding-left: 15%;
    padding-right: 15%;
}

@keyframes animationFacebook {
    from {
        transform: translate(-50%, -100%);
    }

    to {
        transform: translate(-50%, 35%);
    }
}
.Hr3 {
    margin: 1rem auto;
}
