.navbar-brand {
    font-size: 1.7rem !important;
    font-weight: 700;
}

.nav-link {
    font-size: 1.2rem !important;
    font-weight: 600;
}
@media (max-width: 900px) {
    .navbar {
        padding: 12px 0 !important;
    }

    .navbar-brand {
        font-size: 2rem !important;
        font-weight: 800 !important;
    }

    .navbar-nav .nav-link {
        font-size: 1.5rem !important;
        padding: 10px 0 !important;
        font-weight: 700 !important;
    }

    .dropdown-menu .dropdown-item {
        font-size: 1.4rem !important;
        padding: 10px 20px !important;
    }

    .navbar-toggler {
        padding: 0.5rem 1rem !important;
        font-size: 1.5rem !important;
    }
}

