.tortyk {
    width: 60%;
    font-size: 2rem;
    padding: 5%;
    font-family: "Vollkorn", serif;
    background-color: rgba(162, 162, 162, 0.6);
    background-size: cover;
    border-radius: 5%;
    margin: 0 auto;
    box-shadow: 5px 5px 0px #4f4f4f;
}

.sectionStyles1 {
    display: flex;
    justify-content: flex-end;

    padding: 5%;
}
.m1 {
    background-image: url("1.png");
    background-position: center;
    background-size: cover;
    padding: 32px;
}
.euro {
    width: 50%;
    padding: 5%;
}
.euro img {
    width: 30%;
}
.c1 {
    transform: rotate(12deg);
}
.c2 {
    transform: rotate(-12deg);
}
.c3 {
    transform: rotate(12deg);
}
.c4 {
    transform: rotate(-12deg);
}
.c5 {
    transform: rotate(12deg);
}
.c6 {
    transform: rotate(-12deg);
}
.c7 {
    transform: rotate(12deg);
}
.c8 {
    transform: rotate(-12deg);
}
.c9 {
    transform: rotate(12deg);
}

.euro2 {
    width: 50%;
}
.europapa {
    font-size: xx-large;
    margin: 0;
    width: 90%;
    text-align: center;
    font-family: "Vollkorn", serif;
    background-color: rgba(162, 162, 162, 0.6);
    background-size: cover;
    border-radius: 5%;
    box-shadow: 5px 5px 0px #4f4f4f;
}
.euro3 {
    display: flex;
}
.mainStyles {
    background-color: darkgrey;
}
@media (max-width: 1002px) {
    .tortyk {
        width: 70%;
        font-size: 2.5rem;
    }
    .atlantian {
        font-size: 1.3rem;
        width: 100%;
    }
    .europapa {
        font-size: 2rem;
        width: 100%;
    }

    .hjk {
        font-size: 2rem;
    }
    .yte {
        height: 11rem;
        font-size: 1.5rem;
    }
    .uyt {
        width: 100%;
    }

    .euro {
        width: 90%;
    }
    .euro3 {
        display: block;
    }
    .euro2 {
        width: 65%;
        margin: 0 auto;
    }
    .tortyk {
        font-size: 3rem;
    }
    .euro img {
        display: block;
        width: 60%;
        margin: 0 auto;
        margin-top: 30px;
    }
}

#moduleWindow {
    width: 40%;
    z-index: 100;
    text-align: center;
    background: #f2f2f2;
    position: fixed;
    transform: translateX(-50%);
    border-radius: 10px;
    left: 50%;
    padding: 10px;
    box-shadow: 0px 0px 10px black;
    top: 3%;
    display: none;
    animation-name: animationFacebook;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    transform: translate(-50%, 35%);
    animation-timing-function: ease-out;
}
.America {
    align-content: flex-start;
    text-align: center;
}
.America hr {
    width: 50%;
    background-color: black;
}
.buket {
    color: black;
    margin: -0;
}

.atlantian {
    color: white;
    background-color: #1877f2;
    border-radius: 15px;
    text-decoration: none;
    padding: 1%;
    padding-left: 15%;
    padding-right: 15%;
}

@keyframes animationFacebook {
    from {
        transform: translate(-50%, -100%);
    }

    to {
        transform: translate(-50%, 35%);
    }
}

.fufu {
    font-weight: 650;
    border: 0;
    background-color: transparent;
    text-shadow: -5px 5px 5px #5a3e36;
    color: #2f2f2f;
}

.DecorateButton ul {
    background-color: #fff7ad;
}
.DecorateButton ul li a:hover {
    background-color: #e8db60 !important;
}

.Hr3 {
    margin: 1rem auto;
}
