@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
    margin: 0;
}
.yte {
    background-color: #808080;
    text-shadow: -5px 5px 5px #6f6f6f;
    color: #c8c8c8;
    display: flex;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
    align-items: center;
    padding: 10px 30px;
    font-weight: 677;
}

.uyt {
    display: flex;
    margin: 0;
    justify-content: space-between;
    width: 50%;
    list-style-type: none;
    font-family: "Open Sans", sans-serif;
}
.uyt li a {
    text-shadow: -5px 5px 5px #6f6f6f;
    color: #c8c8c8;
    text-decoration: none;
}
.uyt li {
    margin: 0;
    align-content: center;
}
.m1 {
    background-color: darkgrey;

    background-position: center;
    background-size: cover;
    padding: 32px;
}
.h1 {
    text-align: center;
    font-size: 46px;
    margin: 0;
    color: #000000;
}
.i1 {
    width: 20%;
}
.d1 {
    display: flex;
    justify-content: space-between;
}
.i2 {
    width: 33%;
}
.d2 {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.d3 {
    width: 100%;
    display: flex;
    height: 100vh;
    margin-top: 15px;
}
.d4 {
    width: 50%;
    padding: 0 15px;
}
.d7 {
    width: 50%;
}
.d5 {
    height: 50vh;
    padding: 0 15px;
}
.d6 {
    height: 50vh;
    padding: 0 15px;
}
.i3 {
    width: 100%;
    height: 100%;
}
.i4 {
    width: 100%;
    height: 100%;
}
.i5 {
    width: 100%;
    height: 100%;
}
.sub {
    background: linear-gradient(to top, #5f5f5f, darkgrey);
    height: 33px;
    width: 100%;
}
@media (max-width: 1000px) {
    .d1 {
        display: block;
        padding: 0% 15%;
    }
    .d2 {
        display: block;
    }
    .i1 {
        width: 100%;
        margin-bottom: 5%;
        border-radius: 8%;
        box-shadow: 0px 0px 43px #5a3e36;
    }
    .i2 {
        width: 100%;
        margin-bottom: 5%;
        border-radius: 8%;
        box-shadow: 0px 0px 43px #5a3e36;
    }
    .h1 {
        margin-bottom: 5%;
        font-size: 62px;
        color: #5a3e36;
    }
    .hjk {
        font-size: 2rem;
    }
    .yte {
        height: 11rem;
        font-size: 2rem;
    }
    .uyt {
        width: 100%;
    }

    #moduleWindow {
        font-size: 2.5rem;
    }
    #moduleWindow img {
        width: 35%;
    }
}

#moduleWindow {
    width: 40%;
    z-index: 100;
    text-align: center;
    background: #f2f2f2;
    position: fixed;
    transform: translateX(-50%);
    border-radius: 25px;
    left: 50%;
    padding: 25px;
    box-shadow: 0px 0px 10px black;
    top: 3%;
    display: none;
    animation-name: animationFacebook;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    transform: translate(-50%, 35%);
    animation-timing-function: ease-out;
}
.America {
    align-content: flex-start;
    text-align: center;
}
.America hr {
    width: 50%;
    background-color: black;
}
.buket {
    color: black;
    margin: -0;
}

.atlantian {
    color: white;
    background-color: #1877f2;
    border-radius: 15px;
    text-decoration: none;
    padding: 1%;
    padding-left: 15%;
    padding-right: 15%;
}
#dropdown {
    font-weight: 1000;
}

@keyframes animationFacebook {
    from {
        transform: translate(-50%, -100%);
    }

    to {
        transform: translate(-50%, 35%);
    }
}

.fufu {
    font-weight: 650;
    border: 0;
    background-color: transparent;
    text-shadow: -5px 5px 5px #5a3e36;
    color: #2f2f2f;
}

.DecorateButton ul {
    background-color: #fff7ad;
}
.DecorateButton ul li a:hover {
    background-color: #e8db60 !important;
}
.Hr3 {
    margin: 1rem auto;
}
