.i2 {
  width: 48%;
  border-radius: 2%;
  box-shadow: 0 0 16px #380909ff;
}
.d22 {
  width: 50%;
  text-align: center;
}
.h5 {
  font-size: 4rem;
  text-align: center;
}
.d17 {
  width: 50%;
}
.p1 {
  font-size: 2rem;
  margin: 0 auto;
  width: 70%;
  font-weight: 900;
  background-color: #5a3e36;
  padding: 50px 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px #5a3e36;
  color: #b28e7d
}
.d18 {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.i6 {
  width: 71%;
  border-radius: 2%;
  box-shadow: 0 0 16px #380909ff;
}
.d19 {
  width: 50%;
  text-align: center;
}
.d20 {
  width: 50%;
  text-align: center;
}
.hr1 {
  height: 10px;
  background-color: #5a3e36;
  border-radius: 20px;
}
.d25 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.d24{
  padding: 20px;
}
@media (max-width: 1000px){
  .d22 {
  width: 50%;
  text-align: center;
  display: block;
}
  .d25 {
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;
  align-items: center;
}
  .d17 {
  text-align: center;
  width: 100%;
}
  .h5{
  text-align: center;
  font-size: 5rem;
  }
  .i2 {
  width: 50%;
  border-radius: 2%;
  box-shadow: 0 0 16px #380909ff;
}
  .hr1 {
  height: 10px;
  background-color: #5a3e36;
  border-radius: 20px;
  margin-bottom: 52px;
}
  .d18 {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column-reverse;
  align-items: center;
  gap: 29px;
}
  .i6 {
  width: 101%;
  border-radius: 2%;
  box-shadow: 0 0 16px #380909ff;
}
  .p1{
   font-size: 3rem;
  }
}
