.i2 {
  width: 48%;
  border-radius: 2%;
  box-shadow: 0 0 20px #565656ff;
}
.d22 {
  width: 50%;
  text-align: center;
  display: flex;

  align-items: center;
}
.h5 {
  text-align: center;
}
.d17 {
  width: 50%;
}
.p1 {
  font-size: 2rem;
  margin: 0 auto;
  width: 70%;
  font-weight: 900;
  background-color: #7f7f7fff;
  padding: 50px 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px #565656ff;
  color: #d2d2d2;
}
.d18 {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.i6 {
  width: 71%;
  border-radius: 2%;
  box-shadow: 0 0 16px #565656ff;
}
.d19 {
  width: 50%;
  text-align: center;
}
.d20 {
  width: 50%;
  text-align: center;
}
.hr1 {
  height: 10px;
  background-color: #5a3e36;
  border-radius: 20px;
}
.d25 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.d24 {
  padding: 20px;
}
@media (max-width: 1000px) {
  .d22 {
    width: 50%;
    text-align: center;
    display: block;
  }
   .atlantian {
    font-size: 1.5rem;
  .d24 {
    padding: 0px;
  }
  .d25 {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    align-items: center;
  }
  .d17 {
    text-align: center;
    width: 100%;
  }
  .h5 {
    text-align: center;
    font-size: 5rem;
  }
  .i2 {
    width: 50%;
    border-radius: 2%;
    box-shadow: 0 0 16px #565656ff;
  }
  .hr1 {
    height: 10px;
    background-color: #5a3e36;
    border-radius: 20px;
    margin-bottom: 52px;
  }
  .d18 {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column-reverse;
    align-items: center;
    gap: 29px;
  }
  .i6 {
    width: 101%;
    border-radius: 2%;
    box-shadow: 0 0 23px #565656ff;
  }
  .p1 {
    font-size: 2.3.5rem;
    width: 100%;
    text-align: center;
  }
  #moduleWindow {
    font-size: 2.5rem;
  }
  #moduleWindow img {
    width: 35%;
  }
}

#moduleWindow {
  width: 40%;
  z-index: 100;
  text-align: center;
  background: #f2f2f2;
  position: fixed;
  transform: translateX(-50%);
  border-radius: 10px;
  left: 50%;
  padding: 10px;
  box-shadow: 0px 0px 10px black;
  top: 3%;
  display: none;
  animation-name: animationFacebook;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  transform: translate(-50%, 35%);
  animation-timing-function: ease-out;
}
.America {
  align-content: flex-start;
  text-align: center;
}
.America hr {
  width: 50%;
  background-color: black;
}
.buket {
  color: black;
  margin: -0;
}
ssss .atlantian {
  color: white;
  background-color: #1877f2;
  border-radius: 15px;
  text-decoration: none;
  padding: 1%;
  padding-left: 15%;
  padding-right: 15%;
}

@keyframes animationFacebook {
  from {
    transform: translate(-50%, -100%);
  }

  to {
    transform: translate(-50%, 35%);
  }
}
.fufu {
  font-weight: 650;
  border: 0;
  background-color: transparent;
  color: #c8c8c8;
}

.DecorateButton ul {
  background-color: #fff7ad;
}
.DecorateButton ul li a:hover {
  background-color: #e8db60 !important;
}
.Hr3 {
  margin: 1rem auto;
}
#H5 {
  font-size: 5rem;
  display: flex;
  margin-top: 110px;
}
